@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Suipacha 1234<br />
    Retiro. Buenos Aires, Argentina.<br />
    <abbr title="Télefono">P:</abbr>
    +54 11 4433 5566
</address>

<address>
    <strong>Consultas</strong>   <a href="mailto:spark-art@spark-art.com">spark-art@spark-art.com</a><br />
</address>