@model IEnumerable<ArtShop.Entities.Model.Product>

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        @foreach (var item in Model)
        {
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="~/Content/images/products/@item.Image" alt="">
            @*<img src="~/Content/assets/img/bg-img/1.jpg" alt="">*@
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <p>Desde @item.Price</p>
                <h4>@item.Title</h4>
            </div>
        </a>
    </div> 
        }                                                                                                                                                                                                                                                                          </div>
</div>